
  
  button {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }
  
  main {
    text-align: center;
    background-color: #63D079;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
  }
  
  .final-title {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: #263646;
    margin-bottom: 0;
  }
  
  .final {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #interval-container {
    display: flex;
  }
  
  .counter-btn, .counter-btn {
    border: none;
    background-color: #263646;
    outline: none;
    color: #eee;
    padding: 2px 12px;
    height: 25px;
    border-radius: 2px;
    cursor: pointer;
    width: 55px;
    text-align: center;
  }
  
  .counter-btn:disabled {
    cursor: not-allowed;
  }
  
  @media screen and (max-width: 700px) {
    #interval-container {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .app-title {
      font-size: 3.5rem;
    }
  }

  .background-image {
    background-image: url('../image/pomo.jpg'); /* Replace '/images/background.jpg' with the actual path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }